# Core
streamlit==1.32.2
pandas==2.2.1
numpy==1.26.4

# Visualisation
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0
altair==5.3.0

# Machine Learning / Clustering (si tu fais des prédictions ou du clustering)
scikit-learn==1.4.2

# PDF Report (si tu utilises la génération de PDF)
reportlab==4.1.0

# Optional - pour traitement avancé ou interactive widgets
streamlit-aggrid==0.3.4.post3
